[submodule "gitmodules/collab-data-crdts"]
	path = gitmodules/collab-data-crdts
	url = https://github.com/CollabServer/collab-data-crdts.git
	branch = dev
[submodule "gitmodules/collab-messaging-protocol"]
	path = gitmodules/collab-messaging-protocol
	url = https://github.com/CollabServer/collab-messaging-protocol.git
	branch = dev
