[submodule "gitmodules/collab-data-crdts"]
	path = gitmodules/collab-data-crdts
	url = https://github.com/CollabServer/collab-data-crdts.git
	branch = dev
[submodule "gitmodules/collab-messaging"]
	path = gitmodules/collab-messaging
	url = https://github.com/CollabServer/collab-messaging.git
